.about-container {
  display: flex;
  font-family: "Josefin Sans";
  flex-direction: column;
  margin-top: 3em;
  background-image: url("/assets/images/4.jpg");
  padding: 1em;
  padding-top: 15em;
  padding-bottom: 4em; 
  font-size: 1.5em;
}
