<div class="folio-container">
  <div class="folio-left">
    <em><h1>Folio</h1></em>
    <p>
      Folio is my personal passion project. It is a place for designers to connect
      globally to discuss fashion trends and techniques.
    </p>
    <em><h2>my contribution</h2></em>
    <ul>
      <li>
        built the front-end of the application using Bourbon/sass
      </li>
      <li>
        built back-end using rails
      </li>
    </ul>
    <p class="tech-stack">
      stack: Ruby on Rails
    </p>
  </div>
  <div class="folio-right">
    <div class='folio-video'>
      <video autoplay autoloop>
        <source src="/assets/images/folio.mp4" type="video/mp4">
      </video>
    </div>
  </div>
</div>
