<div class="safewalk-container">
  <div class="safewalk-left">
    <em><h1>SafeWalk</h1></em>
    <p>
      Safe Walk is an web/iOS application that allows users to find and request
      a walking partner for areas that they don't feel completely safe walking alone in.
    </p>
    <em><h2>my contribution</h2></em>
      <ul>
        <li>
          designed and built front-end and iOS part of application using Swift 3
        </li>
        <li>
          connected front-end iOS server to back-end rails server
        </li>
        <li>
          set up geolocation using UIMapKit and connecting it to back-end user data
        </li>
        <li>
          wireframed application and designed user flow
        </li>
      </ul>
      <p class="tech-stack">
        stack: iOS/Swift 3, Rails, PostgreSQL
      </p>
  </div>
  <div class="safewalk-right">
    <img class="safe-walk-phone" src="/assets/images/safewalk-iphone.png">
  </div>
</div>
