<div class="kinect-container">
  <div class="kinect-left">
    <em><h1>Folio</h1></em>
    <p>
      Kin-ect is a client project I worked on while at devbootcamp. The clients
     wanted a board game app where they can record their progress and set up
     event invitations.
    </p>
    <em><h2>my contribution</h2></em>
    <ul>
      <li>
        built the front-end of the application using Bourbon/sass
      </li>
      <li>
        helped wire-frame and also helped set up routes and controllers
      </li>
    </ul>
    <p class="tech-stack">
      stack: Ruby on Rails
    </p>
  </div>
  <div class="kinect-right">
    <img class="kinect-laptop" src="/assets/images/macbook-kinect.png">
  </div>
</div>
