<div class="my-container">
  <div class="my-body">
    <img class="title-img" src="assets/images/me.jpg">
    <p class="title-description">
      Hello, my name is Long Tran. I am a web developer & Designer 
    </p>
  </div>
</div>
